fastapi
uvicorn
jinja2

sqlalchemy
psycopg2-binary

python-dotenv

requests

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

transformers
torch

beautifulsoup4
python-multipart